<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am currently a Data Consultant at a consultancy firm sitting in the Technology team and continuously explore my passion for Data Science and Analytics.
    <br><br>
    My undergraduate degree in Mathematics enabled me to develop a strong problem solving mindset, through modules such as Mathematical Modelling and Problem Solving, Probability and Statistics, Heuristic Optimisation. I then furthered my education with a Master's degree in Operational Research and Finance, where I completed modules such as Deterministic OR Methods, Stochastic OR Methods, Quantitative Research in Finance.
</div>